node_modules/
.github
dist/
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
build/
.cache/quokka/
public/uploads/ 